.academic__courses__item__title {
    font-weight: 700;
    padding-top: .8rem;
}

@media screen and (min-width: 0){
    .academic__courses__item__title {
        font-size: 1.6rem;
        line-height: 1.878rem;
    }
}


@media screen and (min-width: 1080px){
    .academic__courses__item__title {
        font-size: 2.2rem;
        line-height: 2.53rem;
    }
}

@media screen and (min-width: 1400px){
    .academic__courses__item__title {
        font-size: 2.2rem;
        line-height: 2.53rem;
    }
}
