.menu__theme {
    border: none;
    display: flex;
    border-radius: 100%;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    background-color: var(--color-de-fondo);
    background-size: cover;
    appearance: none;
}
