.hero__bio {
    display: flex;
    color: var(--color-de-fuente);
}

@media screen and (min-width:0px) {
    .hero__bio {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 2.583rem;
    }
}

@media screen and (min-width:768px) {
    .hero__bio {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 2.583rem;
    }
}

@media screen and (min-width:1080px) {
    .hero__bio {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 26px;
    }
}

@media screen and (min-width:1440px) {
    .hero__bio {
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 6.1rem;
    }
}