.hero__network__item {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
    font-weight: 500;
    min-width: 87px;
}
.hero__network__item a {
    display: flex;
    flex-direction: row;
    gap: 0.46rem;
    font-size: 1.4rem;
    line-height: 1.644rem;
    font-weight: 600;
}


@media screen and (min-width:0px) {
    .hero__network__item {
        /* font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.644rem; */
    }
}

@media screen and (min-width:768px) {
    .hero__network__item {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        padding-right: 3.269rem;
    }
}

@media screen and (min-width:1080px) {
    .hero__network__item {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.878rem;
        margin-right: 3.269rem;
    }
}

@media screen and (min-width:1080px) {
    .hero__network__item {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.878rem;
        margin-right: 3.269rem;
    }
}

