.hobbies__line {
    display: flex;
    padding-top: 3.2rem;
    flex-wrap: wrap;
    flex: 0 0 auto;
}


@media screen and (min-width: 0){
    .hobbies__line{
        gap: 1.6rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px){
    .hobbies__line{
        gap: 1.6rem;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1080px){
    .hobbies__line{
        gap: 1.6rem;
        padding-left: 3.2rem;
        padding-right: 3.2rem;    
    }
}

@media screen and (min-width: 1400px){
    .hobbies__line{
        gap: 1.6rem;
        padding-left: 15.2rem;
        padding-right: 15.2rem; 
    }
}


